body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    background-color: lightgray;
}

/* Global */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #35424A;
    color: #fff;
    padding: 30px 0;
    min-height: 70px;
    border-bottom: #E8491D 3px solid;
}

header a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color:#e8491D;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/* Showcase */
#showcase {
    min-height: 400px;
    background: url('./img/pexels-pixabay-270360.jpg') no-repeat 0 4px;
    text-align: center;
    color: #fff;
}

#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background-color: #35424A;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email'] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.btn-1 {
    padding: 0 20px;
    height: 37px;
    background: #e8491D;
    color: #fff;
    border-radius: 5%;
    border: 0;
}

#boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#boxes .box {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#boxes .box img {
    max-width: 100%;
    height: auto;
}

#boxes .box h3 {
    margin-top: 10px;
    font-size: 1.5rem;
}

#boxes .box p {
    margin-top: 10px;
    font-size: 1rem;
}


footer {
    background-color: #e8491D;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 2.6rem;
}

/* About */

.main {
    padding: 30px 0;
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.main-container #main-col {
    grid-column: 1;
}

#main-col .page-title{
    text-align: center;
}

.main-container #side-col {
    grid-column: 2;
    background: #35424A;
    color: #fff;
    padding: 20px;
}

